<div id="title" class="elips">
	{{title}}
</div>
<div>
	{{tasks/show/chrono-btn chronoClick="chronoClick"}}
</div>

<div class="time" {{action "showTime"}}>
	{{time}}
</div>

<div class="reset-container">
	{{#main-btn action="resetTime"}}
		Reset
	{{/main-btn }}
</div>

<div>
	{{tasks/show/trash-btn action="removeTask" class="trash-btn"}}
</div>
{{yield}}
