<h3>
	Show task {{model.title}}
</h3>

<div>
	time:[{{model.chronoTime}}]
</div>
<div>
	<button type="button" name="button" {{action "startTimer" model}}>START/STOP</button>
</div>

<div>
	<button type="button" name="button" {{action "resetTime" model}}>RESET</button>
</div>

<div>
	<button type="button" name="button" {{action "removeTask" model}}>REMOVE</button>
</div>

{{outlet}}
